/src/cmake-build-debug/
/.idea
/src/.idea
/cmake-build-debug
.DS_Store
/src/CMakeLists.txt
/src/build
*.o
.vscode
/VC_TB/.vs
/VC_TB/VC_TB/x64
/VC_TB/.idea
/VC_TB/x64
VC_TB/VC_TB/CMakeLists.txt
VC_TB/VC_TB/build
